---
import Author from '../Author.astro';
---

<div class='about-the-author py-4 border-b'>
	<h3 class='font-extrabold uppercase mb-4 text-sm'>Acerca del Autor</h3>
	<Author picSize='md' />
	<div class='author-desc text-[.825rem] my-4'>
		<p class='mb-3'>
			Soy Dilan Albert Murcia Parra, un desarrollador freelance especializado en potenciar negocios con <strong
				>Inteligencia Artificial</strong
			>, <strong>automatización con n8n</strong> y soluciones web a medida. Mi objetivo es claro: ayudarte a <strong
				>optimizar tus procesos</strong
			>, <strong>mejorar la interacción con tus clientes</strong> y <strong>acelerar tu crecimiento digital</strong>.
		</p>
		<p>
			Con una sólida base en ingeniería de sistemas, creo e implemento agentes IA personalizados, sitios web inteligentes y flujos de
			trabajo automatizados eficientes. Si buscas transformar tus ideas en soluciones que realmente generen valor, estoy listo para
			construir la estrategia tecnológica que tu negocio necesita.
		</p>
	</div>
</div>
