---
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';
import Dilan from '@src/assets/img/logo.jpg';
import Prose from '../components/Prose.astro';
---

<BaseLayout title='About Me' description='Conoce a Dilan, desarrollador de software'>
	<div class='container'>
		<main class='prose text-lg dark:prose-invert'>
			<article>
				<div class='w-full md:flex md:items-center gap-16 mb-10'>
					<div class='text-pretty leading-9'>
						<h1 class='text-4xl font-bold mb-4'>Hola a todos 👋, Soy Dilan!</h1>
						<Prose>
							<div class='text-lg'>
								<p>
									Soy un apasionado desarrollador de software con experiencia en la creación de soluciones innovadoras y eficientes. Me
									encanta resolver problemas complejos y aprender nuevas tecnologías.
								</p>
								<p>
									Actualmente, busco oportunidades en la industria tecnológica donde pueda crecer profesionalmente. ¡Hablemos si tienes un
									proyecto interesante!
								</p>
							</div>
						</Prose>
					</div>
					<Image src={Dilan} alt='Dilan Albert Murcia Parra' width={300} class='rounded-3xl rotate-3 mx-4 md:mx-0' />
				</div>
				<div class='about-me'>
					<h2 class='text-3xl font-extrabold mb-4 border-b-2 border-white pb-2'>Sobre mí</h2>
					<p class='text-lg mb-4'>
						Hola, soy <span class='font-bold'>Dilan Albert Murcia Parra</span>. Estoy comprometido con el aprendizaje continuo y busco
						colaborar en proyectos que me desafíen y me permitan crecer.
					</p>
					<p class='text-lg mb-4'>Si estás interesado en conectar o explorar posibles colaboraciones, no dudes en contactarme.</p>
				</div>
			</article>
		</main>
	</div>
</BaseLayout>
